<mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef> Items </mat-header-cell>
    <mat-cell *matCellDef="let itemData"> {{itemData.name}} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="action">
    <mat-header-cell *matHeaderCellDef> Action </mat-header-cell>
    <mat-cell *matCellDef="let itemData">
      <button *ngIf="!itemData.action.inCart" (click)="clickEvent('cart', itemData)">add to cart</button>
      <button *ngIf="!itemData.action.isFavorites" (click)="clickEvent('favorite', itemData)">add to wish list</button>
    </mat-cell>
  </ng-container>

  <!-- Row Template -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>

</mat-table>
